@page "/"
@rendermode InteractiveServer

<h1>Counter Project</h1>

<p>Current count: @currentCount</p>

<button disabled="@IsLimitReached()" class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="ResetCount">Reset</button>
<button class="btn btn-primary" @onclick="DecrementCount">Decrement</button>

<button class="btn btn-primary" @onclick="IncreaseStep">+ Step</button>
<button class="btn btn-primary" @onclick="DecreaseStep">- Step</button>

<p>Current Step: @step</p>

@if (IsLimitReached()) {
    <p>Great Job!</p>
} else {
    <p>Keep Going...</p>
}

@code {
    private int currentCount;
    private int step;

    protected override void OnInitialized() {

    }

    private void IncrementCount() {
        currentCount += step;
    }
    private void DecrementCount() {
        if (currentCount - step >= 0)
            currentCount -= step;
    }

    private void ResetCount() {
        currentCount = 0;
    }

    private void IncreaseStep() {
        step++;
    }

    private void DecreaseStep() {
        if (step > 1)
            step--;
    }

    private bool IsLimitReached() {
        return currentCount >= 10;
    }
}